

<button type="button" class="btn btn-secondary float-end" *ngIf="userRole=='Manager'" (click)="addClick(template)">Add Project</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ModalTitle}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-xl">
    <app-add-edit-project [project]="project" (someEvent)="refreshProjectList()" *ngIf="ActivateAddEditProject"></app-add-edit-project>
  </div>
</ng-template>

<table class="table table-striped">
    <thead>
        <tr>
            <th>{{'ProjectId'|translate}}</th>
            <th>{{'ProjectName'|translate}}</th>
            <th>{{'ProjectBudget'|translate}}</th>
            <th colspan="2" class="text-right">{{'ProjectOptions'|translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of ProjectList">
            <td>{{dataItem.id}}</td>
            <td>{{dataItem.name}}</td>
            <td>{{dataItem.money}} €</td>
            <td>
                <button type="button" class="btn btn-light mr-1" data-toggle="modal" data-target="#exampleModal" (click)="detailsClick(dataItem)" data-backdrop="static" data-keyboard="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                      <label>&nbsp; {{'ProjectOptionsShowTasks'|translate}}</label>
                </button>
                &nbsp;
                <button type="button" class="btn btn-light mr-1" *ngIf="userRole=='Manager'" data-toggle="modal" data-target="#exampleModal" (click)="editClick(dataItem, template)" data-backdrop="static" data-keyboard="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                      <label>&nbsp; {{'ProjectOptionsEdit'|translate}}</label>
                </button>
                &nbsp;
                <button type="button" class="btn btn-light mr-1" *ngIf="userRole=='Manager'" data-toggle="modal" data-target="#exampleModal" (click)="deleteClick(dataItem.id)" data-backdrop="static" data-keyboard="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                      </svg>
                      <label>&nbsp; {{'ProjectOptionsDelete'|translate}}</label>
                </button>
            </td>
        </tr>
    </tbody>
</table>
